@import url(./base.css);
@import url(./reset.css);
@import url(./theme.css);

h1 {
  background-color: var(--white);
}
/* 카드 레이아웃 */

.container {
  background-color: transparent;
  
  .ipad-pro {
    
    color: var(--white);
    height: var(--size);
    position: relative;

    .card {
      padding-top: var(--large-spacing);
      display: flex;
      flex-flow: column nowrap;
      text-align: center;

      .headline {
        font-size: var(--large-text);
      }
      
      .content {
        font-size: var(--base-text);
        margin-top: var(--small-spacing);
        margin-bottom: var(--x-small-spacing);
        line-height: var( --line-normal);
      }

      .sub-content {
        font-size: var(--small-text);
        color: var(--gray);
        margin-bottom: var(--small-spacing);
      }

      .item-link {
        font-size: var(--xx-small-text);
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        gap: var(--base-spacing);

        .button {
          padding: var(--x-small-spacing) var(--small-spacing);
          border: 1px solid var(--blue-300);
          border-radius: 20px;

          &.more-info {
            background-color: var(--blue-300);
            
          }
          &.show-price {
            color: var(--blue-100);
          }

          &:hover {
            background-color: var(--blue-200);
            color: var(--white);
            border-color: var(--blue-200);
          }
        }
      }
    }
  }

  .item-image {
    width: 100%;
    height: 548px;
    position: absolute;
    top: 0;
    z-index: -1;
    overflow: hidden;
    background-image: image-set(
      url(../products/ipad_pro.jpeg) 1x,
      url(../products/ipad_pro_2x.jpeg) 2x
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (min-width: 1024px) {
  .container {

    .ipad-pro {
      .card {
        padding-top: var(--extra-large-spacing);
      
        .headline {
          font-size: var(--extra-large-text);
        }
      
        .content {
          font-size: var(--medium-text);
        }
      
        .item-link {
          font-size: var(--x-small-text);
        }
      }
    }

    .item-image {
      height: 580px;
      background-image: image-set(
        url(../products/ipad_pro_wide.jpeg) 1x,
        url(../products/ipad_pro_wide_2x.jpeg) 2x
      );
    }
  }
}