@import url(./mini-reset.css);
@import url(./base.css);
@import url(./sr-only.css);

/* svg형식을 지원하는 않는 웹브라우저는 png형식 로고*/

img[src="./logo.png"] {
  display: none;
}
.logo img {
  display: none;
}

@supports (image-rendering: -moz-crisp-edges) {
  img[src="./logo.svg"] {
    display: inline;
  }
}

@supports not (image-rendering: -moz-crisp-edges) {

  img[src="./logo.png"] {
    display: inline;
  }
}

/* 로고 */

.logo {
  width: 230px;
  margin: 100px auto 50px;

}

/* 로그인 폼 */

.login {
  padding: 0 1.25rem;
}

.login-form {
  width: 100%;

  fieldset {
    width: 100%;
  }

  .id-pw-wrap {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
  }

}

/* id pw 인풋 폼 */
.form-input {
  font-size: 0.875rem;
  display: flex;
  flex-flow: row nowrap;

  input {
    font-size: 0.875rem;
    height:45px;
    width: 100%;
    border: 1px solid #dadada;
    background-color: #fff;
    padding: 0 1rem;
    
    &:focus {
      outline: 1px solid #03cf5d;
    } 
  }
}

/* 로그인 버튼 */

.login-button {
  font-size: 1rem;
  height: 45px;
  color: #fff;
  background-color: #03cf5d;
  margin-top: 20px;
  border: 0;
  width: 100%;
}

/* 서브 메뉴 */

.check-sub {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;

  .ip-check {
    display: none;
  }

  .keep-check {

    input {
    position: absolute;
    appearance: none;
    width: 1.25rem;
    height: 18px;
    margin: 0;

      &:focus-visible {
        outline: 2px solid #24388d;
      }
    }

    label {
      background: url(./icons/unchecked.svg) no-repeat 0 0 / contain;
      padding-left: 1.8125rem;
    }
    
    input:checked + label {
      background-image: url(./icons/checked.svg);
    }
  }

  input:focus{
    outline: none;
  }
}

/* 768px 이상 화면에 반응 */

@media (min-width: 768px) {

  .login {
    width: 31.25rem;
    margin: 0 auto;
  }

  /* 서브 메뉴 */
  .check-sub {
    flex-flow: row nowrap;
    justify-content: space-between;

    .ip-check {
      display:list-item;

      a {
        &:focus-visible {
          outline: 1px solid #24388d;
        }
      }

      input {
        position: absolute;
        appearance: none;
        width: 1.875rem;
        height: 20px;
        margin: 0;

        &:focus-visible {
          outline: 1px solid #24388d;
        }
      }

      label:after {
        content: "OFF";
        font-size: 1rem;
        color: #181818;

        &:focus-visible {
          outline: 1px solid #24388d;
        }
      }
      
      input:checked {
        width: 1.5rem;
      }
      input:checked + label:after {
        content: "ON";
        font-size: 1rem;
        color: #03cf5d;
      }
    }
  }
}